@font-face {
    font-family: roman;
    src: url(fonts/HelveticaNeueLTGEO-55Roman.ttf);
}

@font-face {
    font-family: lt;
    src: url(../fonts/HelveticaNeueLTStd-Lt.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #0A22F4;
    color: #FFFFFF;
}

iframe {
    width: 463px;
    height: 197px;
    border-radius: 15px;
    /* margin-top: 58px; */
  }